.container.top-buffer
  .row
    .col-12
      .card
        .card-body
          
            
          %br
          %br
          
          -@students.each do |student|
            %h4.header-title 
              Student Name: 
              =student.full_name
            .table-responsive
              %table.table.mb-0
                %thead
                  %tr
                    %th{:scope => "col"} Lesson
                    %th{:scope => "col"} Section 1
                    %th{:scope => "col"} Section 2
                    %th{:scope => "col"} Section 3
                    %th{:scope => "col"} Section 4
                    %th{:scope => "col"} Section 5
                    
                %tbody
                  -student.assignments.order('created_at ASC').each_with_index do |assignment,index|
                    
                    %tr
                      %th{:scope => "row"} 
                        = index + 1
                        %br
                        
                       
                      -assignment.assignment_chapters.order('created_at ASC').each do |chapter|
                        %td 
                          =chapter.completed ? "Completed" : "Incomplete"
                          %br
            %br
            %br              

  
