.container.top-buffer
  .row
    .col-lg-12
      .card
        .card-body
          %h4.mb-3.header-title 
            Add Lesson
            -if @lesson.errors.any?
              
              %div(class="dontprint alert alert-danger")
                %div.content-message
                  = content_tag :div, "Please fill the form completely including adding sections below", :id => "danger" 
                  %a.close(data-dismiss='alert') &#215;
          =bootstrap_form_for @lesson do |f|
            =f.select :subject_id, options_for_select(@subjects.collect{ |subject| [subject.name, subject.id] }), { label: "Please pick a subjet"}, :disabled => @subjects.collect{ |subject| [subject.name, subject.id] }
            =f.text_field :name
            %h3 Sections
            #section
              =f.fields_for :sections do |section|
                .nested-fields
                  .field
                    = section.text_field :content
                  
              .links
              = link_to_add_association 'Add Section', f, :sections, class: "btn btn-outline-success btn-rounded float-right left-buffer"
            =f.submit "Submit", class: "btn btn-primary"





      
