.container.top-buffer
  .card  
    .card-body
      %h4.mb-3.header-title CREATE CLASS
      .row
      .col-lg-12
        %form
          .form-group.mb-3
            %label{:for => "simpleinput"} Subject
            %input#simpleinput.form-control{:type => "text"}/
          .form-group.mb-3
            %label.col-form-label{:for => "inputState"} Teachers
            %select#inputState.form-control
              %option Yoda 
              %option Mr Rogers 
              %option Count Dracula 
              %option Big Bird
          .form-group.mb-3
            %label.col-form-label{:for => "inputState"} School Year
            %select#inputState.form-control
              %option 2018/2019
              %option 2019/2020
              %option 2020/2021
          %button.btn.btn-primary{:type => "submit"} Submit
      
