.container.top-buffer
  .card  
    .card-body
      %h4.mb-3.header-title ADD TEACHER
      .col-lg-12
        %form
          .form-group.mb-3
            %label{:for => "simpleinput"} Full Name
            %input#simpleinput.form-control{:type => "text"}/
          .form-group.mb-3
            %label{:for => "simpleinput"} Phone
            %input#simpleinput.form-control{:type => "text"}/
          .form-group.mb-3
            %label{:for => "simpleinput"} Email
            %input#simpleinput.form-control{:type => "text"}/
          
          %br
          %br
          %button.btn.btn-primary{:type => "submit"} Submit
      
