.container.top-buffer
  .row
    .col-lg-12

      .card
        .card-body
          %h3.header-title Subject: Math
          %h4.header-title Lesson 1
          %h6.mb-3.header-title Section 1/5
          
          %h4.mb-3.header-title Martin's Answer:
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Tortor consequat id porta nibh venenatis. Tristique sollicitudin nibh sit amet commodo nulla. Arcu non sodales neque sodales ut etiam sit amet. Odio aenean sed adipiscing diam donec adipiscing tristique risus. Viverra maecenas accumsan lacus vel facilisis volutpat est velit. Turpis nunc eget lorem dolor sed. Purus in mollis nunc sed. Non consectetur a erat nam. Est ullamcorper eget nulla facilisi. Massa eget egestas purus viverra accumsan in. 
          .row.top-buffer 
            .col-lg-12
              %a.btn.btn-outline-success.btn-rounded.left-buffer{:href => "#"}
                Correct
              %a.btn.btn-outline-danger.btn-rounded{:href => "this is wrong"} Incorrect
        / end card-body
      / end card
    / end col