.container
  %ul
    %li
      =link_to "Add class", ui_add_class_path
    %li 
      =link_to "Add Teacher", ui_add_teacher_path
    %li 
      =link_to "Create Lesson", ui_create_lesson_path
    %li 
      =link_to "Edit Lesson", ui_edit_lesson_path
    %li 
      =link_to "Add Student", ui_add_student_path
    %li
      =link_to "View My Students By Class", ui_student_index_path
    %li
      =link_to "Grade Lesson", ui_grade_lesson_path 
      
    
