.container
  %ul
    %li
      =link_to "Add class"
    %li 
      =link_to "Add Teacher"
    %li 
      =link_to "Create Lesson"
    %li 
      =link_to "Edit Lesson"
    %li 
      =link_to "Add Student"
    %li
      =link_to "View My Students By Class"
    %li
      =link_to "Grade Lessons"
    %li
      =link_to "Grade Lesson"
      
    
