.container.top-buffer
  .row
    .col-12
      .card
        .card-body
          %h4.header-title Student Name: Johny Bravo
          %br
          %br
          %h5.header-title Class: Meaning of Life
          %h5.header-title Teacher: Yoda
          .table-responsive
            %table.table.mb-0
              %thead
                %tr
                  %th{:scope => "col"} Lesson
                  %th{:scope => "col"} Section 1
                  %th{:scope => "col"} Section 2
                  %th{:scope => "col"} Section 3
                  %th{:scope => "col"} Section 4
                  %th{:scope => "col"} Section 5
                  
              %tbody
                %tr
                  %th{:scope => "row"} 1
                  %td Complete/Correct
                  %td Complete/Incorrect
                  %td Ready For Grading
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 2
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 3
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
          %br
          %br
          %h5.header-title Class: Moral Ethics
          %h5.header-title Teacher: Mr Rogers
          .table-responsive
            %table.table.mb-0
              %thead
                %tr
                  %th{:scope => "col"} Lesson
                  %th{:scope => "col"} Section 1
                  %th{:scope => "col"} Section 2
                  %th{:scope => "col"} Section 3
                  %th{:scope => "col"} Section 4
                  %th{:scope => "col"} Section 5
                  
              %tbody
                %tr
                  %th{:scope => "row"} 1
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 2
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 3
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
          %br
          %br
          %h5.header-title Class: Math
          %h5.header-title Teacher: Count Dracula
          .table-responsive
            %table.table.mb-0
              %thead
                %tr
                  %th{:scope => "col"} Lesson
                  %th{:scope => "col"} Section 1
                  %th{:scope => "col"} Section 2
                  %th{:scope => "col"} Section 3
                  %th{:scope => "col"} Section 4
                  %th{:scope => "col"} Section 5
                  
              %tbody
                %tr
                  %th{:scope => "row"} 1
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 2
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 3
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
          %br
          %br
          %h5.header-title Class: Gangster Street Knowledge
          %h5.header-title Teacher: Big Bird
          .table-responsive
            %table.table.mb-0
              %thead
                %tr
                  %th{:scope => "col"} Lesson
                  %th{:scope => "col"} Section 1
                  %th{:scope => "col"} Section 2
                  %th{:scope => "col"} Section 3
                  %th{:scope => "col"} Section 4
                  %th{:scope => "col"} Section 5
                  
              %tbody
                %tr
                  %th{:scope => "row"} 1
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 2
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
                %tr
                  %th{:scope => "row"} 3
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  %td Incomplete
                  
          / end table-responsive
        / end card body
      / end card
    / end col